.navbar{
	border-radius: 0px;
}


.pretraga_vesti h2{
	text-align: center;
}

.footer{
	background-color: maroon;
	color: white;
	min-height: 50px;
	padding-top: 15px;
}

#ntext{
 color: #000000;
  }

  .jumbotron {
    background-size: cover;
}



